*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, #70CF63, #24AA78);
}

.section-one{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.section-one button{
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #eee;
    cursor: pointer;
}

.blackBackground{
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    /* z-index: 1; */
}

.modalbox1{
    width: 40%;
    /* height:  300px; */
    color: black;
    border-radius: 20px;
    margin: 7rem auto 0 auto    ;
    padding: 40px 80px 40px 100px;
    position: relative;
    z-index: 2;
    text-align: justify;
}
.modalbox2{
    width: 40%;
    /* height: 300px; */
    color: black;
    border-radius: 20px;
    margin: 7rem auto 0 auto    ;
    padding: 40px 80px 40px 100px;
    position: absolute;
    top: 5.3rem;
    left: 29rem;
    z-index: 3;
    text-align: justify;
}
.modalbox3{
    width: 40%;
    /* height: 300px; */
    color: black;
    border-radius: 20px;
    margin: 7rem auto 0 auto    ;
    padding: 40px 80px 40px 100px;
    position: absolute;
    top: 5.3rem;
    left: 29rem;
    z-index: 4;
    text-align: justify;
}

.hidden{
    display: none;
}

.closebutton1{
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.closebutton2{
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.closebutton3{
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}